header {
  width: 105vw;
  height: 6.2rem;
  background: var(--color-light);
  position: fixed;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  z-index: 888;
}

.header {
  max-width: 1140px;
  height: 6.2rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  flex: 1;
  width: 100vw;
}

.logo-img {
  width: 80px;
  height: 80px;
  background-color: var(--color-primary);
  border-radius: 40px;
}

.menu {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  position: fixed;
}

.menu {
  list-style: none;
  display: flex;
}

.menu a {
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  display: block;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  height: 6.2rem;
  display: flex;
  align-items: center;
  border-bottom: 5px solid var(--color-light);
}

.menu a:hover,
.menu a.active {
  border-bottom: 5px solid var(--color-dark);
}

@media (max-width: 999px) {
  header {
    height: 3rem;
  }
  .header {
    display: none;
  }
}
